# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IDE
.idea

# Ignore personal data
activities.csv
*.csv
export_*

# System files
.DS_Store
```